.heading1{
     -webkit-text-fill-color: rgba(229, 76, 34, 0.922);
}
.heading2{
    -webkit-text-fill-color: rgb(229, 76, 34, 0.922);
}
.heading3{
    -webkit-text-fill-color: rgba(139, 140, 140, 0.667);
}
.heading4{
    -webkit-text-fill-color: rgba(102, 231, 188, 0.931);
}
.heading5{
    -webkit-text-fill-color: rgba(139, 140, 140, 0.667);
}
.heading6{
    -webkit-text-fill-color: rgba(102, 231, 188, 0.931);
}
.heading7{
    -webkit-text-fill-color: rgba(139, 140, 140, 0.667);
}
.heading8{
    -webkit-text-fill-color: rgba(102, 231, 188, 0.931);
}
.heading9{
    -webkit-text-fill-color: rgba(139, 140, 140, 0.667);
}
.header{
    background-color: rgba(220, 191, 147, 0.944);
}
.heading10{
    -webkit-text-fill-color: rgba(102, 231, 188, 0.931);
}
.heading11{
    -webkit-text-fill-color: rgba(139, 140, 140, 0.667);
}